.mintbuton {
  background: #337cb7;
  border-radius: 8px;
  border-right: 2px solid #1c6096;
  border-bottom: 2px solid #1c6096;
  border-left: 2px solid #5eaae7;
  border-top: 2px solid #5eaae7;
  box-shadow: -2px -2px #30180d;
  max-width: 290px;
  margin: auto;
  font-size: 39px;
  color: #fcf4eb;
  font-weight: bold;
  font-family: 'Mecha';
  text-align: center;
  cursor: pointer;
  width: 100%;
}
