.container {
  background: url(../../../../assets/image/mining/ButtonStake.png) center
    no-repeat;
  background-size: 100% 100%;
  padding: 16px 0;
  font-size: 46px;
  font-family: 'Mecha Bold';
  text-align: center;
  margin: 0;
  line-height: 46px;
  cursor: pointer;
  margin-bottom: 16px;
}
