.container {
  background: url(../../../../../assets/image/market/bg-resource.png) center
    no-repeat;
  background-size: 100% 100%;
  // max-width: 195px;
  width: 100%;
  min-height: 233px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .name {
    position: absolute;
    bottom: 8%;
    width: 84%;
    background: url(../../../../../assets/image/market/resourcename.png) center
      no-repeat;
    background-size: 100% 100%;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Mecha';
    text-align: center;
  }
}
