.container {
  background: url(../../../../assets/image/background/bg-2.png) center no-repeat,
    url(../../../../assets/image/background/bg-1.png) center no-repeat;
  background-size: auto, 100% 100%;
  position: relative;
  height: 100%;
  border-radius: 12px;
}
